/*Estilos footer*/
.pie-pagina{
width: 100%;
background-color: $color-primario;
}
.grupo-1{
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
padding: 45px 0px;
}
.grupo-2{

}
.box{

}
.red-social{

}
  
  /*formulario contactos*/
  .form-contacto{
    font-size: 20px;
    background-color: $color-secundario;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .form-contactos-grupo{
    display: flex;
    flex-direction: column;
    height: 80px;
    gap: 15px;
    margin: 15px 0px;
  }
  .form-contactos-grupo-mensaje{
    display: flex;
    flex-direction: column;
    height: 80px;
    gap: 10px;
    margin: 10px 0px;
  }
  .form-contactos-grupo-label{
    color: $color-contraste;
  }
  .form-contactos-grupo-input /*.form-contactos-grupo-texarea*/{
    width: 100%;
    background-color: transparent;
    color: $color-contraste;
    border: 1px solid $color-contraste;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0,5s;
  }
  .form-contactos-grupo-input::placeholder{
    color: $color-contraste;
  }
  .form-contactos-grupo-input:focus{
    border: 2px solid $color-contraste;
    outline: none;
  }
  .boton-form{
    width: 100%;
    background-color: $color-contraste;
    padding: 10px 5px;
    border: 0px;
    border-radius: 5px;
    color: darkcyan;
    font-weight: bold;
    font-size: 20px;
  }
  .opciones{
   margin: 30px 0px; 
  
  }
  .opciones-opcion{
    background-color: rgb(11, 138, 138);
    padding: 40px;
    color: $color-contraste;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
  }