/*Titutlo y subtitulo*/
.titulo-inicio{
    color: rgb(23, 75, 75); /*color de letras*/
    font-size: 60px; /*tamaño de la fuente*/
    text-align: center; /*alineado*/
    font-weight: normal; /*tamaño ancho*/
    font-style: italic; /*estilo de fuente*/
    font-family: 'Times New Roman', Times, serif; /*tipo de familia de fuente*/
}
.subtitulo{
    color: darkcyan;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}